h1{
    text-align: center;
    color: white;
    font-size: 4em;

}
body {

    background-color: rgb(16, 88, 91);
}


.container {

    padding: 1em;
    border-style: solid;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgba(82, 120, 122, 0.48);
    align-items: center;

    background: linear-gradient(180deg, rgba(78, 181, 186, 73) 0%, rgba(42, 241, 250, 98) 100%);
    font-size: 2.5em;
    margin-top: 5%;
    box-sizing: border-box;
    margin-left: 10%;
    margin-right: 10%;
}

.content_element{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: auto;
    background-color: rgb(202, 247, 255);
    overflow: hidden;
    padding: 15px;
    border-radius: 20px;

}

h2 {
    color: white;
    align-items: center;
    text-align: center;

}